conf/*
!conf/.gitkeep
logs/*
!logs/.gitkeep
plans/*
!plans/.gitkeep
require/*
!require/.gitkeep
state/*
!state/.gitkeep
workspace/**
!workspace/.gitkeep
*.log
.DS_Store
MEMORY.md
MISTAKE.md
SUMMARY.md